{%  extends 'layout.html.twig' %}

{% block title %}
    Créer un participant | {{  parent() }}
{%  endblock %}
{% form_theme partiForm 'bootstrap_4_layout.html.twig' %}
{%  block main %}
    <div class="container mt-4 mb-3">
        <div class="d-flex justify-content-center h-100">
            <div class="card w-75 mb-5">
                <div class="card-header">
                    <h3>Création d'un participant</h3>
                </div>
                <!-- formulaire pour l'ajout de participant à l'aide d'un fichier importer -->
                <form method="post" action="{{ path('import_fichier') }}" enctype="multipart/form-data">
                    <div class="mt-4">
                        <div class="input-group form-group flex-column flex-md-row" id="bloc_upload">
                            <div class="input-group-prepend">
                                    <span class="input-group-text mb-3 w-100" for="uploadParticipants">
                                        Importer plusieurs participants (fichier .csv)
                                    </span>
                            </div >
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="uploadParticipants" id="uploadParticipants">
                                <label class="custom-file-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="upload">
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary m-2" id="uploadSubmit" type="submit">
                                    Envoyer ce fichier
                                </button>
                                <button class="btn btn-lg btn-primary m-2" id="uploadReset" type="reset">
                                    Annuler
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Formulaire d'ajout manuel d'un participant -->
                {{ form_start(partiForm) }}
                <div id="formField" class="card-body">

                    {{ form_errors(partiForm.username) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Pseudo
                            </span>
                        </div >
                        {{  form_widget(partiForm.username) }}
                    </div>

                    {{ form_errors(partiForm.firstName) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Prénom
                            </span>
                        </div >
                        {{  form_widget(partiForm.firstName) }}
                    </div>

                    {{ form_errors(partiForm.lastName) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Nom
                            </span>
                        </div >
                        {{  form_widget(partiForm.lastName) }}
                    </div>

                    {{ form_errors(partiForm.email) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Email
                            </span>
                        </div >
                            {{  form_widget(partiForm.email) }}
                    </div>
                    {{ form_errors(partiForm.phoneNumber) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Téléphone
                            </span>
                        </div >
                        {{  form_widget(partiForm.phoneNumber) }}
                    </div>

                    {{ form_errors(partiForm.site) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Site de rattachement
                            </span>
                        </div >
                        {{  form_widget(partiForm.site) }}
                    </div>

                    {{ form_errors(partiForm.roles) }}
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Role
                            </span>
                        </div >
                        {{  form_widget(partiForm.roles) }}
                    </div>

                    <div  id="passwordDIV">
                    {{ form_errors(partiForm.newPassword) }}
                    {{ form_errors(partiForm.newPassword.first) }}
                        <div class="input-group form-group flex-column flex-md-row">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Mot de passe
                                </span>
                            </div >
                        {{  form_widget(partiForm.newPassword.first) }}
                        </div>
                    {{ form_errors(partiForm.newPassword.second) }}
                        <div class="input-group form-group flex-column flex-md-row">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Saisir à nouveau
                                </span>
                            </div >
                        {{  form_widget(partiForm.newPassword.second) }}
                        </div>
                    </div>

                    {{ form_errors(partiForm.image) }}
                    <div class="input-group form-group flex-column flex-md-row" id="block_image">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 w-100">
                                Télécharger une photo (JPEG, JPG, PNG)
                            </span>
                        </div >
                        {{  form_widget(partiForm.image) }}
                    </div>

                    {{ form_errors(partiForm.actif) }}
                    <div class="input-group form-group flex-column flex-md-row custom-control custom-switch">
                        {{  form_widget(partiForm.actif) }}
                    </div>
                </div>
                <div class="card-footer" id="save">
                    <div class="row justify-content-center">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary m-2" id="modifier" type="submit">
                                Enregistrer
                            </button>
                            <button class="btn btn-lg btn-primary m-2" id="annuler" type="reset">
                                Annuler
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(partiForm) }}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{%  block javaScript %}
        <script>

            window.onload=function() {
                document.getElementById('user_firstName').addEventListener('blur',email);
                document.getElementById('user_lastName').addEventListener('blur',email);
            }

            function email()
            {
                let firstName = document.getElementById('user_firstName').value;
                let lastName = document.getElementById('user_lastName').value;
                let email = document.getElementById('user_email');
                let year = new Date(Date.now()).getFullYear();
                if (firstName && lastName)
                {

                    email.value=firstName+'.'+lastName+year+'@campus-eni.fr';
                }else{
                    email.value='';
                }

            }

            $(document).ready(function(){
                document.getElementById('upload').setAttribute('class', 'd-none');
                $('#uploadParticipants').change(function (event){
                    let file = event.target.files[0].name;

                    //Suppression de l'ancien block si existant 'indication fichier selectionner'
                    let span = document.getElementById('block_nom_fichier');
                    if (span){
                        span.remove();
                    }

                    //Ajout du nouveau block 'indication fichier selectionner'
                    let spanBlock = document.createElement('span');
                    spanBlock.classList.add('valid-feedback', 'd-block');
                    spanBlock.id = 'block_nom_fichier';
                    let spanTitle = document.createElement('span');
                    spanTitle.classList.add('badge', 'badge-success', 'text-uppercase');
                    spanTitle.innerText = 'Nom du fichier';
                    let spanMsg = document.createElement('span');
                    spanMsg.innerText = 'Le fichier ' + file + ' a été sélectionné.';

                    spanBlock.append(spanTitle);
                    spanBlock.append(spanMsg);
                    document.getElementById('bloc_upload').append(spanBlock);

                    //Afficher le bouton pour Telecharger et supprimer le bouton pour Enregistrer manuellement
                    document.getElementById('upload').removeAttribute('class');
                    document.getElementById('save').setAttribute('class', 'd-none');


                    //supprimmer les champs pour une creation manuel
                    document.getElementById('formField').setAttribute('class', 'd-none');

                    //si click annuler retour case départ
                    document.getElementById('uploadReset').addEventListener('click', function() {
                        document.getElementById('formField').setAttribute('class', 'd-block');
                        document.getElementById('block_nom_fichier').innerText = "";
                        document.getElementById('save').removeAttribute('class');
                        document.getElementById('upload').setAttribute('class', 'd-none');
                    })
                })
                $('#user_image').change(function (event){
                    let file = event.target.files[0].name;

                    //Suppression de l'ancien block si existant 'indication fichier selectionner'
                    let span = document.getElementById('block_nom_fichier_image');
                    if (span){
                        span.remove();
                    }

                    //Ajout du nouveau block 'indication fichier selectionner'
                    let spanBlock = document.createElement('span');
                    spanBlock.classList.add('valid-feedback', 'd-block');
                    spanBlock.id = 'block_nom_fichier_image';
                    let spanTitle = document.createElement('span');
                    spanTitle.classList.add('badge', 'badge-success', 'text-uppercase');
                    spanTitle.innerText = 'Nom du fichier';
                    let spanMsg = document.createElement('span');
                    spanMsg.innerText = 'Le fichier ' + file + ' a été sélectionné.';

                    spanBlock.append(spanTitle);
                    spanBlock.append(spanMsg);
                    document.getElementById('block_image').append(spanBlock);

                    //si click annuler retour case départ
                    document.getElementById('annuler').addEventListener('click', function() {
                        document.getElementById('block_nom_fichier_image').innerText = "";
                    })
                })
            })


        </script>


{%  endblock %}