{%  extends 'layout.html.twig' %}

{% block title %}
    Profil | {{  parent() }}
{%  endblock %}

{%  block main %}
    <div class="container mt-4 mb-3">
        <div class="d-flex justify-content-center h-100">
            <div class="card w-75">
                <div class="card-header">
                    <h3>Mon profil</h3>
                </div>
                <div class="mx-auto rounded" width="240px" height="240px">
                    {% if app.user.imageFilename %}
                        <img src="{{ asset('uploads/images_profile/' ~ app.user.imageFilename) }}">
                    {% else %}
                        <img src="{{ asset('build/img/avatarNeutre.png') }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="input-group form-group flex-column flex-md-row">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Pseudo
                                </span>
                            </div >
                                <div class="ml-0 form-control" id="userName">
                                    {{ app.user.username }}
                                </div>
                            </div>
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Prénom
                                </span>
                        </div >
                        <div class="ml-0 form-control" id="firstname">
                            {{ app.user.firstName }}
                        </div>
                    </div>
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Nom
                                </span>
                        </div >
                        <div class="ml-0 form-control">
                            {{ app.user.lastName }}
                        </div>
                    </div>

                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Email
                                </span>
                        </div >
                        <div class="ml-0 form-control">
                            {{ app.user.email }}
                        </div>
                    </div>
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Téléphone
                                </span>
                        </div >
                        <div class="ml-0 form-control">
                            {{ app.user.phoneNumber }}
                        </div>
                    </div>
                    <div class="input-group form-group flex-column flex-md-row">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 w-100">
                                    Site de rattachement
                                </span>
                        </div >
                        <div class="ml-0 form-control">
                            {{ app.user.site.name }}
                        </div>
                    </div>
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <a href="{{ path('participant_update') }}">
                                <button class="btn btn-lg btn-primary m-2" id="modifier">
                                    Modifier
                                </button>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{%  block javaScript %}

{%  endblock %}