{%  extends 'layout.html.twig' %}

{%  block title %}
    Modifier son profil
{%  endblock %}


{%  block main %}
{{ form_start(partiForm) }}
    <div>
    {{ form_label(partiForm.username) }}
    {{ form_widget(partiForm.username) }}
    {{ form_errors(partiForm.username) }}
    </div>
    <div>
    {{ form_label(partiForm.firstName) }}
    {{ form_widget(partiForm.firstName) }}
    {{ form_errors(partiForm.firstName) }}
    </div>
    <div>
    {{ form_label(partiForm.lastName) }}
    {{ form_widget(partiForm.lastName) }}
    {{ form_errors(partiForm.lastName) }}
    </div>
    <div>
    {{ form_label(partiForm.phoneNumber) }}
    {{ form_widget(partiForm.phoneNumber) }}
    {{ form_errors(partiForm.phoneNumber) }}
    </div>
    <div>
    {{ form_label(partiForm.email) }}
    {{ form_widget(partiForm.email) }}
    {{ form_errors(partiForm.email) }}
    </div>
    <div>
    {{ form_label(partiForm.site) }}
    {{ form_widget(partiForm.site) }}
    {{ form_errors(partiForm.site) }}
    </div>
    <div>
        <label for="password" class="required">Mot de Passe</label>
        <input type="password" id="password" name="password" required="required" class="password-field">
    </div>
    <div>
        <button type="submit">Modifier</button>
    </div>
{%  endblock %}