{%  extends 'layout.html.twig' %}

{% block title %}
    Modifier mon profil | {{  parent() }}
{%  endblock %}
{% form_theme partiForm 'bootstrap_4_layout.html.twig' %}
{%  block main %}
    <div class="container mt-4 mb-3">
        {{ form_start(partiForm) }}
        <div class="d-flex justify-content-center h-100">
            <div class="card w-75">
                <div class="card-header">
                    <h3>Mon profil</h3>
                </div>
                <div class="card-body">
                    {{ form_errors(partiForm.username) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Pseudo
                                </span>
                        </div >

                                    {{  form_widget(partiForm.username) }}

                    </div>
                    {{ form_errors(partiForm.firstName) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Prénom
                                </span>
                        </div >

                            {{  form_widget(partiForm.firstName) }}

                    </div>
                    {{ form_errors(partiForm.lastName) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3 ">
                                    Nom
                                </span>
                        </div >

                            {{  form_widget(partiForm.lastName) }}

                    </div>

                    {{ form_errors(partiForm.email) }}

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Email
                                </span>
                        </div >

                            {{  form_widget(partiForm.email) }}

                    </div>
                    {{ form_errors(partiForm.phoneNumber) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Téléphone
                                </span>
                        </div >

                            {{  form_widget(partiForm.phoneNumber) }}

                    </div>
                    {{ form_errors(partiForm.site) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Site de rattachement
                                </span>
                        </div >

                            {{  form_widget(partiForm.site) }}

                    </div>
                    <div class="input-group-prepend" >
                                <button class="input-group-text mb-3" onclick="myFunction()" type="button" id="btnPass">
                                    Modifier le mot de passe
                                </button>
                    </div >
                    <div  id="myDIV" style="display: none">
                    {{ form_errors(partiForm.newPassword) }}
                    {{ form_errors(partiForm.newPassword.first) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Mot de passe
                                </span>
                        </div >

                        {{  form_widget(partiForm.newPassword.first) }}

                    </div>
                    {{ form_errors(partiForm.newPassword.second) }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    Saisir à nouveau
                                </span>
                        </div >

                        {{  form_widget(partiForm.newPassword.second) }}

                    </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group">

                                <button class="btn btn-lg btn-primary m-2" id="modifier" type="submit">
                                    Modifier
                                </button>

                        </div>
                    </div>
                    {{ form_end(partiForm) }}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{%  block javaScript %}

    <script>
        function myFunction() {
            let x = document.getElementById("myDIV");
            let y = document.getElementById("btnPass")
            if (x.style.display === "none") {
                y.innerText="Retour";
                x.style.display = "block";
            } else {
                y.innerText="Modifier le mot de passe";
                x.style.display = "none";
            }
        }
    </script>
{%  endblock %}