{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Créer une sortie
{% endblock %}

{% block main %}
    <div class="container mt-4 mb-3">
            {{ form_start(outingForm) }}
        <div class="d-flex justify-content-center h-100">
            <div class="card w-75">
                <div class="card-header">
                    <h3 style="text-align: center;">Créer une sortie</h3>

                    <div class="card-body">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                 <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.name) }}
                                 </span>
                            </div>
                                    {{ form_widget(outingForm.name) }}
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.dateTimeStart) }}
                                </span>
                            </div>
                                    {{ form_widget(outingForm.dateTimeStart) }}
                        </div>

                        <div class="input-group form-group">
                           <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.dateLimitSigningUp) }}
                                </span>
                           </div>
                                    {{ form_widget(outingForm.dateLimitSigningUp) }}
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.nbSigningUpMax) }}
                                </span>
                             </div>
                                    {{ form_widget(outingForm.nbSigningUpMax) }}
                         </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.duration) }}
                                </span>
                            </div>
                                    {{ form_widget(outingForm.duration) }}
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-3">
                                    {{ form_label(outingForm.infosOuting) }}
                                </span>
                            </div>
                                    {{ form_widget(outingForm.infosOuting) }}
                        </div>
                    </div>
                        <div class="row justify-content-center">
                             <button type="submit" class="btn btn-primary">Enregistrer</button>
                             <button type="submit" class="btn btn-primary">Publier la sortie</button>
                             <button type="reset"  class="btn btn-primary">Annuler</button>
                        </div>


                    <div class="card w-75">
                         <div class="input-group form-group">
                            <div class="input-group-prepend">
                                 <span class="input-group-text mb-3">
                                      {{ form_label(outingForm.location) }}
                                </span>
                             </div>
                                <select class="form-control" id="selectLieu" onchange="selectLocation()">
                                    <option value="{{ form_widget(outingForm.location) }}"></option>
                                </select>
                        </div>
                        <div id="lieu">

                        </div>
                    </div>
                </div>
        </div>
{% block javaScript %}

            <script>
                function selectLocation()
                {
                    let selectElm = document.getElementById('selectLieu').value;
                        let xhr = new XMLHttpRequest();
                        let method = "GET";
                        let url = "/createOuting/"+ selectElm;
                            xhr.onreadystatechange = function(){
                                if (xhr.readyState === 4 && xhr.status === 200) {
                                    let infosLieu = JSON.parse(xhr.responseText).infosLieu[0];

                                    //création du tableau avec les informations
                                    let tbody = document.createElement('table');
                                    let tr = document.createElement('tr');
                                    tr.setAttribute('id','cityName');
                                    let tdCity = document.createElement('td');
                                    tdCity.setAttribute('scope','row');
                                   tdCity.innerText = infosLieu.city.name;


                                    let tr2 = document.createElement('tr');
                                    tr2.setAttribute('id','streetNumber');
                                    let tdStreet = document.createElement('td');
                                    tdStreet.innerText = infosLieu.street;

                                    let tr3 = document.createElement('tr');
                                    tr3.setAttribute('id','latitude');
                                    let tdLatitude = document.createElement('td');
                                    tdLatitude.innerText = infosLieu.latitude;

                                    let tr4 = document.createElement('tr');
                                    tr4.setAttribute('id','longitude');
                                    let tdLongitude = document.createElement('td');
                                    tdLongitude.innerText = infosLieu.longitude;

                                    let tr5 = document.createElement('tr');
                                    tr5.setAttribute('id','codePostal');
                                    let tdCp = document.createElement('td');
                                    tdCp.innerText = infosLieu.city.zip;

                                    tr5.append(tdCp);
                                    tr4.appendChild(tdLongitude);
                                    tr3.appendChild(tdLatitude);
                                    tr2.appendChild(tdStreet);
                                    tr.appendChild(tdCity);
                                    tbody.appendChild(tr);
                                    tbody.appendChild(tr2);
                                    tbody.appendChild(tr3);
                                    tbody.appendChild(tr4);

                                    let lieu=document.getElementById('lieu');
                                    lieu.innerText = "";
                                    lieu.appendChild(tbody);
                                }
                            }
                        xhr.open(method,url);
                        xhr.send();
                }
            </script>

{% endblock %}

{% endblock %}