{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ cardTitle }} une sortie
{% endblock %}

{% block main %}
    <div class="container mt-4 mb-3">
        {{ form_start(outingForm) }}
        <div class="d-flex justify-content-center h-100">
            <div class="card w-100 mb-5">
                <div class="card-header">
                    <h3 style="text-align: center;">{{ cardTitle }} une sortie</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="input-group form-group flex-column flex-md-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.name) }}
                                </div>
                                {{ form_widget(outingForm.name) }}
                            </div>

                            <div class="input-group form-group flex-column flex-md-row" id="time">
                                <div class="input-group-prepend" >
                                    {{ form_label(outingForm.dateTimeStart) }}
                                </div>
                                {{ form_widget(outingForm.dateTimeStart) }}
                                {{ form_widget(outingForm.timeStart) }}
                            </div>
                            {{ form_errors(outingForm.dateLimitSigningUp) }}
                            <div class="input-group form-group flex-column flex-md-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.dateLimitSigningUp) }}
                                </div>
                                {{ form_widget(outingForm.dateLimitSigningUp) }}
                            </div>
                            {{ form_errors(outingForm.nbSigningUpMax) }}
                            <div class="input-group form-group flex-column flex-md-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.nbSigningUpMax) }}
                                </div>
                                {{ form_widget(outingForm.nbSigningUpMax) }}
                            </div>
                            {{ form_errors(outingForm.duration) }}
                            <div class="input-group form-group flex-column flex-md-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.duration) }}
                                </div>
                                {{ form_widget(outingForm.duration) }}
                            </div>
                            {{ form_errors(outingForm.infosOuting) }}
                            <div class="input-group form-group flex-column flex-lg-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.infosOuting) }}
                                </div>
                                {{ form_widget(outingForm.infosOuting) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_errors(outingForm.location) }}
                            <div class="input-group form-group flex-column flex-md-row">
                                <div class="input-group-prepend">
                                    {{ form_label(outingForm.location) }}
                                </div>
                                    {{ form_widget(outingForm.location, {'value':'00:00'} )}}

                            </div>
                            <div id="lieu" class="card w-100">
                                {%  if btnSuppr %}
                                    <div class="input-group form-group flex-column flex-md-row">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mb-3 w-100">
                                                 Ville :
                                            </span>
                                        </div >
                                            <div class="ml-0 form-control">
                                                 {{ outing.location.city.name }}
                                            </div>
                                    </div>

                                    <div class="input-group form-group flex-column flex-md-row">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mb-3 w-100">
                                                 Rue :
                                            </span>
                                        </div >
                                        <div class="ml-0 form-control">
                                            {{ outing.location.street }}
                                        </div>
                                    </div>

                                    <div class="input-group form-group flex-column flex-md-row">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mb-3 w-100">
                                                 Code Postal :
                                            </span>
                                        </div >
                                        <div class="ml-0 form-control">
                                            {{ outing.location.city.zip }}
                                        </div>
                                    </div>

                                    <div class="input-group form-group flex-column flex-md-row">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mb-3 w-100">
                                                 Latitude :
                                            </span>
                                        </div >
                                        <div class="ml-0 form-control">
                                            {{ outing.location.latitude }}
                                        </div>
                                    </div>

                                    <div class="input-group form-group flex-column flex-md-row">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mb-3 w-100">
                                                 Longitude :
                                            </span>
                                        </div >
                                        <div class="ml-0 form-control">
                                            {{ outing.location.longitude }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-around">
                        <button type="submit" name="save" value="save" class="btn btn-primary">Enregistrer</button>
                        <button type="submit" name="publish" value="publish" class="btn btn-primary">Publier la sortie</button>
                        {% if btnSuppr %}
                            <a href="{{ path('outing_cancel', {id: id}) }}"><button type="button" class="btn btn-primary">Supprimer la sortie</button></a>
                        {% endif %}
                        <button type="reset"  class="btn btn-primary" onclick="erase()">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(outingForm) }}
    </div>
    <br>
{% endblock %}
{% block javaScript %}
    <script>
        window.onload=function() {
            document.getElementById('outing_location').addEventListener('change',selectLocation);
        }

        function erase()
        {
            let lieu = document.getElementById('lieu');
            lieu.innerText ="";
        }


        function selectLocation(event) {
            let selectElm = event.currentTarget.value;
            let xhr = new XMLHttpRequest();
            let method = "GET";
            let url = "/createOuting/" + selectElm;
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {

                    let infosLieu = JSON.parse(xhr.responseText).infosLieu[0];

                    //création des champs avec les informations

                    //Champ-> Ville : "LABELLEVILLE"
                    let formGroup = document.createElement('div');
                    formGroup.setAttribute('class', 'input-group form-group flex-column flex-md-row');
                    let inputGroup = document.createElement('div');
                    inputGroup.setAttribute('class', 'input-group-prepend');
                    let cityLabel = document.createElement('label');
                    cityLabel.setAttribute('for', 'city');
                    cityLabel.setAttribute('class', 'input-group-text mb-3 w-100');
                    let cityText = document.createTextNode('Ville : ');
                    let inputCity = document.createElement('input');
                    inputCity.setAttribute('type', 'text');
                    inputCity.setAttribute('class', 'form-control ml-0 bg-white');
                    inputCity.setAttribute('id', 'city');
                    inputCity.setAttribute('name', 'city');
                    inputCity.setAttribute('readonly', 'readonly');
                    inputCity.setAttribute('value', inputCity.innerText = infosLieu.city.name);


                    //Champ-> Rue : "17 rue des policiers"
                    let formGroupStreet = document.createElement('div');
                    formGroupStreet.setAttribute('class', 'input-group form-group flex-column flex-md-row');
                    let inputGroupStreet = document.createElement('div');
                    inputGroupStreet.setAttribute('class', 'input-group-prepend');
                    let streetLabel = document.createElement('label');
                    streetLabel.setAttribute('for', 'street');
                    streetLabel.setAttribute('class', 'input-group-text mb-3 w-100');
                    let streetText = document.createTextNode('Rue :');
                    let inputStreet = document.createElement('input');
                    inputStreet.setAttribute('type', 'text');
                    inputStreet.setAttribute('class', 'form-control ml-0 bg-white');
                    inputStreet.setAttribute('id', 'street');
                    inputStreet.setAttribute('name', 'street');
                    inputStreet.setAttribute('readonly', 'readonly');
                    inputStreet.setAttribute('value', inputStreet.innerText = infosLieu.street);

                    //Champ->Code postal : "66667"
                    let formGroupCP = document.createElement('div');
                    formGroupCP.setAttribute('class', 'input-group form-group flex-column flex-md-row');
                    let inputGroupCP = document.createElement('div');
                    inputGroupCP.setAttribute('class', 'input-group-prepend');
                    let cpLabel = document.createElement('label');
                    cpLabel.setAttribute('for', 'codePostal');
                    cpLabel.setAttribute('class', 'input-group-text mb-3 w-100');
                    let cpText = document.createTextNode('Code Postal :');
                    let inputCp = document.createElement('input');
                    inputCp.setAttribute('type', 'text');
                    inputCp.setAttribute('class', 'form-control ml-0 bg-white');
                    inputCp.setAttribute('id', 'codePostal');
                    inputCp.setAttribute('name', 'codePostal');
                    inputCp.setAttribute('readonly', 'readonly');
                    inputCp.setAttribute('value', inputCp.innerText = infosLieu.city.zip);

                    //Champ->Latitude : "47° 09'S"
                    let formGroupLatitude = document.createElement('div');
                    formGroupLatitude.setAttribute('class', 'input-group form-group flex-column flex-md-row');
                    let inputGroupLatitude = document.createElement('div');
                    inputGroupLatitude.setAttribute('class', 'input-group-prepend');
                    let latitudeLabel = document.createElement('label');
                    latitudeLabel.setAttribute('for', 'latitude');
                    latitudeLabel.setAttribute('class', 'input-group-text mb-3 w-100');
                    let latitudeText = document.createTextNode('Latitude :');
                    let inputLatitude = document.createElement('input');
                    inputLatitude.setAttribute('type', 'text');
                    inputLatitude.setAttribute('class', 'form-control ml-0 bg-white');
                    inputLatitude.setAttribute('id', 'latitude');
                    inputLatitude.setAttribute('name', 'latitude');
                    inputLatitude.setAttribute('readonly', 'readonly');
                    inputLatitude.setAttribute('value', inputLatitude.innerText = infosLieu.latitude);

                    //Champ->Longitude : "126° 43'O"
                    let formGroupLongitude = document.createElement('div');
                    formGroupLongitude.setAttribute('class', 'input-group form-group flex-column flex-md-row');
                    let inputGroupLongitude = document.createElement('div');
                    inputGroupLongitude.setAttribute('class', 'input-group-prepend');
                    let longitudeLabel = document.createElement('label');
                    longitudeLabel.setAttribute('for', 'longitude');
                    longitudeLabel.setAttribute('class', 'input-group-text mb-3 w-100');
                    let longitudeText = document.createTextNode('Longitude : ');
                    let inputLongitude = document.createElement('input');
                    inputLongitude.setAttribute('type', 'text');
                    inputLongitude.setAttribute('class', 'form-control ml-0 bg-white');
                    inputLongitude.setAttribute('id', 'longitude');
                    inputLongitude.setAttribute('readonly', 'readonly');
                    inputLongitude.setAttribute('value', inputLongitude.innerText = infosLieu.longitude);

                    cityLabel.append(cityText);
                    inputGroup.append(cityLabel);
                    formGroup.appendChild(inputGroup);
                    formGroup.appendChild(inputCity);

                    streetLabel.append(streetText);
                    inputGroupStreet.appendChild(streetLabel);
                    formGroupStreet.appendChild(inputGroupStreet);
                    formGroupStreet.appendChild(inputStreet);

                    cpLabel.append(cpText);
                    inputGroupCP.appendChild(cpLabel);
                    formGroupCP.appendChild(inputGroupCP);
                    formGroupCP.appendChild(inputCp);

                    latitudeLabel.append(latitudeText);
                    inputGroupLatitude.appendChild(latitudeLabel);
                    formGroupLatitude.appendChild(inputGroupLatitude);
                    formGroupLatitude.appendChild(inputLatitude);

                    longitudeLabel.append(longitudeText);
                    inputGroupLongitude.appendChild(longitudeLabel);
                    formGroupLongitude.appendChild(inputGroupLongitude);
                    formGroupLongitude.appendChild(inputLongitude);

                    let lieu = document.getElementById('lieu');
                    lieu.innerText = "";
                    lieu.appendChild(formGroup);
                    lieu.appendChild(formGroupStreet);
                    lieu.appendChild(formGroupCP);
                    lieu.appendChild(formGroupLatitude);
                    lieu.appendChild(formGroupLongitude);
                }
            }
            xhr.open(method, url);
            xhr.send();
        }
    </script>
{% endblock %}
