{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block main %}

    <div class="container align-items-center">
        {{ form_start(searchForm, {attr: {id: 'searchForm'}}) }}
        <h2 class="mt-5 lead font-weight-bold">Filtrer les sorties</h2>
        <div class="row mb-3">
            <div class="col-12 col-lg-5">
                {{ form_row(searchForm.site) }}
                {{ form_row(searchForm.pattern) }}
                <div class="row">
                    <div class="col12 col-md-6">
                        {{ form_row(searchForm.dateStart) }}
                    </div>
                    <div class="col12 col-md-6">
                        {{ form_row(searchForm.dateEnd) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                {{ form_widget(searchForm.organizer) }}
                {{ form_widget(searchForm.registered) }}
                {{ form_widget(searchForm.unregistered) }}
                {{ form_widget(searchForm.finished) }}
            </div>
            <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}

        <p>{{ outings.totalItemCount }}{{ strNbOutings }}</p>
        <table class="table-responsive" style="display: inline-table !important;">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">État</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
                <tr>
                    <td>{{ outing.name }}</td>
                    <td>{{ outing.dateTimeStart|date('d/m/Y') }} à {{ outing.dateTimeStart|date('H:i') }}</td>
                    <td>{{ outing.dateLimitSigningUp|date('d/m/Y') }}</td>
                    <td>{{ outing.participants|length }}/{{ outing.nbSigningUpMax }}</td>
                    <td>{{ outing.state.label }}</td>
                    <td>
                        {% for participant in outing.participants %}
                            {% if participant == app.user %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href=""></a>{{ outing.organizer.username }}</td>
                    <td>{# todo: personnalisé les liens affiché en fonction de l'utilisateur et de la date #}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(outings) }}
        <div>
            <div class="form-group mt-3 mb-5">
                <a href="{{ path('create_outing') }}">
                    <button class="btn btn-lg btn-primary m-2" type="submit">
                        Créer une sortie
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
    {{ encore_entry_script_tags('table_responsive') }}
{%  endblock %}
