{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block main %}

    <div class="container align-items-center">
        {{ form_start(searchForm, {attr: {id: 'searchForm'}}) }}
        <h2 class="mt-5 lead font-weight-bold">Filtrer les sorties</h2>
        <div class="row mb-3">
            <div class="col-12 col-lg-5">
                {{ form_row(searchForm.site) }}
                {{ form_row(searchForm.pattern) }}
                <div class="row">
                    <div class="col12 col-md-6">
                        {{ form_row(searchForm.dateStart) }}
                    </div>
                    <div class="col12 col-md-6">
                        {{ form_row(searchForm.dateEnd) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                {{ form_widget(searchForm.organizer) }}
                {{ form_widget(searchForm.registered) }}
                {{ form_widget(searchForm.unregistered) }}
                {{ form_widget(searchForm.finished) }}
            </div>
            <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}

        <p>{{ outings.totalItemCount }}{{ strNbOutings }}</p>
        <table class="table-responsive" style="display: inline-table !important;">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">État</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
                <tr>
                    <td>{{ outing.name }}</td>
                    <td>{{ outing.dateTimeStart|date('d/m/Y') }} à {{ outing.dateTimeStart|date('H:i') }}</td>
                    <td>{{ outing.dateLimitSigningUp|date('d/m/Y') }}</td>
                    <td ><span id="nbInscrits{{ outing.id }}">{{ outing.participants|length }}</span>/{{ outing.nbSigningUpMax }}</td>

                    <td>{{ outing.state.label }}</td>
                    <td id="isInscrit{{ outing.id }}">
                        {% for participant in outing.participants %}
                            {% if participant == app.user %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href=""></a>{{ outing.organizer.username }}</td>
                    <td>
                        <span id="affiche"><a href="{{ path('view_outing', {id: outing.id}) }}">Afficher</a></span>
                        {% if app.user is same as( outing.organizer) %}
                            <span id="annuler"><button class="btn btn-sm btn-link"><a href="">Annuler</a></button></span>
                            {%  if  outing.state.id == 1 %}
                                <span id="modifier"><a href="">Modifier</a></span>
                                <span id="publier"><a href="">Publier</a></span>
                            {%  endif %}
                        {% elseif outing.isParticipant(app.user) %}
                            <span id="inscrit{{ outing.id }}"><button class="btn btn-sm btn-link" id="{{ outing.id }}" type="submit" onclick="desister()">Se désister</button></span>
                        {% elseif outing.canSubscribe  %}
                            <span id="inscrit{{ outing.id }}"><button class="btn btn-sm btn-link" id="{{ outing.id }}" type="submit" onclick="inscrire()">S'inscrire</button></span>
                        {% endif %}


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(outings) }}
        <div>
            <div class="form-group mt-3 mb-5">
                <a href="{{ path('create_outing') }}">
                    <button class="btn btn-lg btn-primary m-2" type="submit">
                        Créer une sortie
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
    {{ encore_entry_script_tags('table_responsive') }}
    <script>
        function inscrire() {

            let outin= event.target.id;
            let xhr = new XMLHttpRequest();

            let method = "GET";
            let url ="/subscribe/"+outin;
            xhr.onreadystatechange=function () {
                if (xhr.readyState === 4 && xhr.status === 200)
                {
                    let span = document.getElementById("inscrit"+outin);
                    //suppression du bouton précédent
                    span.innerText="";
                    // création du nouveau bouton
                    let btn = document.createElement('button');
                    btn.setAttribute('type','submit');
                    btn.setAttribute('id',outin);
                    btn.setAttribute('class','btn btn-sm btn-link');
                    btn.addEventListener('click',desister);
                    btn.innerText='Se désister';
                    span.appendChild(btn);
                    //ajout de la croix pour inscrit
                    document.getElementById('isInscrit'+outin).innerText="X";
                    //ajout d'un participant
                    let inscrits = document.getElementById('nbInscrits'+outin);
                    inscrits.innerText = parseInt(inscrits.innerText) + 1;

                }
                else if (xhr.readyState === 4 ){
                    let rep = xhr.response;
                    console.log(rep);
                    alert(xhr.response);
                }
            }

            xhr.open(method,url);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();

        }

        function desister() {

            let outin= event.target.id;
            let xhr = new XMLHttpRequest();
            let method = "GET";

            let url ="/unsubscribe/"+outin;
            xhr.onreadystatechange=function () {
                if (xhr.readyState === 4 && xhr.status === 200)
                {
                    let span = document.getElementById("inscrit"+outin);
                    //suppression du bouton précédent
                    span.innerText="";
                    span.setAttribute('class',outin);
                    //creatiojn nouveau bouton
                    let btn = document.createElement('button');
                    btn.setAttribute('type','submit');
                    btn.setAttribute('id',outin);
                    btn.setAttribute('class','btn btn-sm btn-link');
                    btn.addEventListener('click',inscrire);
                    btn.innerText='S\'inscrire';
                    span.appendChild(btn);
                    //suppression X sur inscrit
                    document.getElementById('isInscrit'+outin).innerText="";

                    //ajout d'un participant
                    let inscrits = document.getElementById('nbInscrits'+outin);
                    inscrits.innerText = parseInt(inscrits.innerText) - 1;
                }
                else if (xhr.readyState === 4 ){
                    alert(xhr.response);
                }
            }

            xhr.open(method,url);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();
        }
    </script>


{%  endblock %}
